.home-banner {
  background-image: url('https://images.unsplash.com/photo-1513470939372-bd520e7d77db?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=949ca94a021b95a37b4fb1f1aa4ddb9b&auto=format&fit=crop&w=1489&q=80');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}
